<!-- <mat-slider [disabled]="disabledAgreement" max=200 min=0 showTicks=true step=10 thumbLabel=true [(ngModel)]="value">
</mat-slider>
<button mat-raised-button color="accent" [disabled]="disabledAgreement" (click)="show()">Show</button>
<br>
<mat-checkbox (change)="changeCheck($event)" (click)="call()">
            Edit Items
        </mat-checkbox>
        <button mat-raised-button color="accent" [disabled]="disabledAgreement"
            (click)="gridsterUpdateDatabase()">Save</button> -->
            <iframe src="/cl1" height="700" width="1000" frameBorder="0"></iframe>